# Others
**/Icon?
.DS_Store
qlanth.code-workspace
__pycache__/
/calcs/Ln\ in\ LaF3\ -\ 1/
/calcs/Ln\ in\ LaF3\ -\ 2/
/numHam-32/*.csv
/numHam-32/*.m
/qlanth.nb_versions
/calcs/**/*.m
/calcs/**/*.nb
/calcs/**/*.zip
/doc/*.aux
/doc/*.log
/doc/*.out
/doc/*.fdb_latexmk
/doc/*.fls
/hams/sparsef7.py
/hams/sparsef6.py
/hams/sparsef5.py
/hams/sparsef4.py
/hams/fullSparsef7.py
/hams/fullSparsef6.py
/hams/fullSparsef5.py
/hams/fullSparsef4.py
/hams/SymbolicMatrix-f7.m
/hams/SymbolicMatrix-f6.m
/hams/SymbolicMatrix-f5.m
/hams/SymbolicMatrix-f5.m
/hams/SymbolicMatrix-f4.m
/hams/f7_I_1_EnergyMatrixTable.m
/hams/f6_I_1_EnergyMatrixTable.m
/hams/f5_I_1_EnergyMatrixTable.m
/hams/f4_I_1_EnergyMatrixTable.m
/examples/Gd in LaF3 - example.m 
/examples/Tb in LaF3 - example.m 
/examples/Eu in LaF3 - example.m 
/examples/Dy in LaF3 - example.m 
/examples/Sm in LaF3 - example.m 
/examples/Ho in LaF3 - example.m 
/examples/Pm in LaF3 - example.m 
/examples/Nd in LaF3 - example.m 
/examples/Er in LaF3 - example.m
doc/qlanth.synctex.gz
doc/qlanth.bcf
doc/qlanth.bbl
doc/fundefs/*
examples/evaluated/*
Ln in LaF3 - with E and M1.zip
graphs-with-and-without-spinspin-with-without-chen.m
qlanth - OLD.nb
qlanth - Table Generator copy 2.nb
qlanth - Table Generator copy.nb
calcs/
doc/qlanth-blx.bib
doc/qlanth.blg
doc/qlanth.run.xml
doc/qlanth.toc
data/CrystalFieldTable_f1.m
data/CrystalFieldTable_f2.m
data/CrystalFieldTable_f3.m
data/CrystalFieldTable_f4.m
data/CrystalFieldTable_f5.m
data/CrystalFieldTable_f6.m
data/CrystalFieldTable_f7.m
trash/
LaF3-regularities.nb
MachinePrecision.ipynb
gitversions.sh
make_from_scratch.sh
NumericalPrecision.nb
qlanth - Optical Transitions.nb
qlanth - Python.nb
qlanth - to - TeX.nb
data/fncrosswhite/
hams/*.m
hams/SymbolicMatrix-f1.zip
hams/SymbolicMatrix-f2.zip
hams/SymbolicMatrix-f3.zip
hams/SymbolicMatrix-f4.zip
hams/SymbolicMatrix-f5.zip
hams/SymbolicMatrix-f6.zip
hams/SymbolicMatrix-f7.zip
data/spectra/
data/Er-Solver-Toolbits.m
data/erbiumYAG-fit.m
data/ErYAG-Gruber-FitParams.csv
data/ErYAG-Gruber.csv
data/ErYSAG-Gruber.csv
data/ErYSGG-Gruber.csv
data/fncross-defective.m
data/juddOperators-f3-f7.m
data/NdYAG-Nekvasil.csv
data/Nekvasil-1978-Table1.csv
data/ReducedAiZiTable-Dodson.m
data/ti-figs.pdf
data/ti3.m
numHam-32/eigenPrecision.pdf
numHam-32/eigenPrecision.py
qlanth.m_versions/
log/
keys.m