# Others
**/Icon?
.DS_Store
qlanth.code-workspace
__pycache__/
/calcs/Ln\ in\ LaF3\ -\ 1/
/calcs/Ln\ in\ LaF3\ -\ 2/
/numHam-32/*.csv
/numHam-32/*.m
/qlanth.nb_versions
/calcs/**/*.m
/calcs/**/*.nb
/calcs/**/*.zip
/doc/*.aux
/doc/*.log
/doc/*.out
/doc/*.fdb_latexmk
/doc/*.fls
/hams/sparsef7.py
/hams/sparsef6.py
/hams/sparsef5.py
/hams/sparsef4.py
/hams/fullSparsef7.py
/hams/fullSparsef6.py
/hams/fullSparsef5.py
/hams/fullSparsef4.py
/hams/SymbolicMatrix-f7.m
/hams/SymbolicMatrix-f6.m
/hams/SymbolicMatrix-f5.m
/hams/SymbolicMatrix-f5.m
/hams/SymbolicMatrix-f4.m
/hams/f7_I_1_EnergyMatrixTable.m
/hams/f6_I_1_EnergyMatrixTable.m
/hams/f5_I_1_EnergyMatrixTable.m
/hams/f4_I_1_EnergyMatrixTable.m
/examples/Gd in LaF3 - example.m 
/examples/Tb in LaF3 - example.m 
/examples/Eu in LaF3 - example.m 
/examples/Dy in LaF3 - example.m 
/examples/Sm in LaF3 - example.m 
/examples/Ho in LaF3 - example.m 
/examples/Pm in LaF3 - example.m 
/examples/Nd in LaF3 - example.m 
/examples/Er in LaF3 - example.m
doc/qlanth.synctex.gz
doc/qlanth.bcf
doc/qlanth.bbl
doc/fundefs/*
